body {
    margin: 0px;
}

#header {
    height: 890px;
    background: url("../img/1.jpg");
    /* background-size: 200px;
    background-repeat: repeat-x; */
}

.nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white;
    padding: 20px 0px;
}