.container {
  width: 1200px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

[class^="col-"] {
  margin: 5px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.m-1 {
  margin: 15px;
}

.mt-1 {
  margin-top: 15px;
}

.mb-1 {
  margin-bottom: 15px;
}

.ml-1 {
  margin-left: 15px;
}

.mr-1 {
  margin-right: 15px;
}

.mx-1 {
  margin: 0px 15px;
}

.my-1 {
  margin: 15px 0px;
}

.m-2 {
  margin: 30px;
}

.mt-2 {
  margin-top: 30px;
}

.mb-2 {
  margin-bottom: 30px;
}

.ml-2 {
  margin-left: 30px;
}

.mr-2 {
  margin-right: 30px;
}

.mx-2 {
  margin: 0px 30px;
}

.my-2 {
  margin: 30px 0px;
}

.m-3 {
  margin: 45px;
}

.mt-3 {
  margin-top: 45px;
}

.mb-3 {
  margin-bottom: 45px;
}

.ml-3 {
  margin-left: 45px;
}

.mr-3 {
  margin-right: 45px;
}

.mx-3 {
  margin: 0px 45px;
}

.my-3 {
  margin: 45px 0px;
}

.m-4 {
  margin: 60px;
}

.mt-4 {
  margin-top: 60px;
}

.mb-4 {
  margin-bottom: 60px;
}

.ml-4 {
  margin-left: 60px;
}

.mr-4 {
  margin-right: 60px;
}

.mx-4 {
  margin: 0px 60px;
}

.my-4 {
  margin: 60px 0px;
}

.p-1 {
  padding: 15px;
}

.pt-1 {
  padding-top: 15px;
}

.pb-1 {
  padding-bottom: 15px;
}

.pl-1 {
  padding-left: 15px;
}

.pr-1 {
  padding-right: 15px;
}

.px-1 {
  padding: 0px 15px;
}

.py-1 {
  padding: 15px 0px;
}

.p-2 {
  padding: 30px;
}

.pt-2 {
  padding-top: 30px;
}

.pb-2 {
  padding-bottom: 30px;
}

.pl-2 {
  padding-left: 30px;
}

.pr-2 {
  padding-right: 30px;
}

.px-2 {
  padding: 0px 30px;
}

.py-2 {
  padding: 30px 0px;
}

.p-3 {
  padding: 45px;
}

.pt-3 {
  padding-top: 45px;
}

.pb-3 {
  padding-bottom: 45px;
}

.pl-3 {
  padding-left: 45px;
}

.pr-3 {
  padding-right: 45px;
}

.px-3 {
  padding: 0px 45px;
}

.py-3 {
  padding: 45px 0px;
}

.p-4 {
  padding: 60px;
}

.pt-4 {
  padding-top: 60px;
}

.pb-4 {
  padding-bottom: 60px;
}

.pl-4 {
  padding-left: 60px;
}

.pr-4 {
  padding-right: 60px;
}

.px-4 {
  padding: 0px 60px;
}

.py-4 {
  padding: 60px 0px;
}

body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
}

.flex-full-center, #header .nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-horizontal-start, #header .nav .navbar .navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: none;
  background: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-border-radius-x {
  border-radius: 5px;
}

.btn-border-radius-4x {
  border-radius: 20px;
}

.btn-border-white {
  border: 1px solid white;
}

.btn-border-white:hover {
  background: white;
  color: blue;
}

.btn-border-blue {
  border: 1px solid blue;
  color: blue;
}

.btn-border-blue:hover {
  background: blue;
  color: white;
}

.btn-border-red {
  border: 1px solid red;
  color: red;
}

.btn-border-red:hover {
  background: red;
  color: white;
}

#header {
  height: 890px;
  background: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 890px;
  opacity: .6;
  background-image: linear-gradient(135deg, #ff1053 0%, #3452ff 100%);
}

#header .nav {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

#header .nav .navbar {
  width: 1400px;
  /* background: red; */
  margin: 0px auto;
}

#header .nav .navbar .navbar-left {
  width: 640px;
}

#header .nav .navbar .navbar-left span {
  color: white;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 24px;
}

#header .nav .navbar .navbar-left .logo {
  display: inline-block;
}

#header .nav .navbar .navbar-left .logo img {
  /* width: 200px; */
}

#header .content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header .content .content-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header .content .content-middle button {
  border: 1px solid white;
  outline: none;
  margin-top: 10px;
  padding: 10px 40px;
  background: none;
  color: white;
  border-radius: 22px;
}

#header .content .content-middle h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  margin: 5px 0px;
}

#header .content .content-middle p {
  margin: 0px;
}

#header .content .content-arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  box-sizing: border-box;
}

.navbar-left .logo .inner-nav ul {
  margin: 0px;
  padding: 5px 0px;
  display: inline-block;
  border-left: 1px solid blue;
}

.inner-nav ul li {
  display: inline-block;
  color: white;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.login-register span {
  color: white;
  margin: 0px 10px;
}

#categories .categories-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

#categories .category-item {
  border: 1px solid gray;
  padding: 30px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}

#categories .category-item p {
  margin: 0px;
  padding: 0px;
  z-index: 2;
  color: white;
}

#categories .category-item img {
  position: absolute;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  margin: -60px -80px;
  transition: all .3s ease;
  filter: brightness(50%);
}

#categories .category-item img:hover {
  filter: brightness(100%) hue-rotate(90deg);
}

#categories .categories-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

#ads {
  background: url(../../img/4.jpg) no-repeat center center;
  background-size: cover;
}

#ads h5 {
  font-weight: bold;
}

#ads h1 {
  font-size: 40px;
  text-align: center;
}

#events {
  border: 1px solid gray;
}

#events .events-header {
  text-align: center;
}

#events .events-header h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

#events .events-header p {
  font-size: 14px;
}

#events .events-item {
  height: 400px;
  background: green;
  overflow: hidden;
}

#events .events-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(0.4);
  transition: all .3s ease;
}

#events .events-item:hover img {
  transform: scale(1.2);
}

#events .events-footer {
  text-align: center;
}

#events .events-footer a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */