.container {
  width: 1200px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  height: 250px;
  border-radius: 5px;
  padding: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="col-"] {
  margin: 5px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.btn {
  border: none;
  background: none;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-border-radius-x {
  border-radius: 5px;
}

.btn-border-radius-4x {
  border-radius: 20px;
}

.btn-border-white {
  border: 1px solid white;
}

.btn-border-white:hover {
  background: white;
  color: blue;
}

.btn-border-blue {
  border: 1px solid blue;
  color: blue;
}

.btn-border-blue:hover {
  background: blue;
  color: white;
}

.btn-border-red {
  border: 1px solid red;
  color: red;
}

.btn-border-red:hover {
  background: red;
  color: white;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.flex-full-center, #header .nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-horizontal-start, #header .nav .navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  height: 890px;
  background: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 890px;
  opacity: .6;
  background-image: linear-gradient(135deg, blue 0%, white 100%);
}

#header .nav {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

#header .nav .navbar {
  width: 1400px;
  /* background: red; */
  margin: 0px auto;
}

#header .nav .navbar .navbar-left {
  width: 640px;
}

#header .nav .navbar .navbar-left span {
  color: white;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 24px;
}

#header .nav .navbar .navbar-left .logo {
  display: inline-block;
}

#header .nav .navbar .navbar-left .logo img {
  /* width: 200px; */
}

#header .content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .content .content-middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .content .content-middle button {
  border: 1px solid white;
  outline: none;
  margin-top: 10px;
  padding: 10px 40px;
  background: none;
  color: white;
  border-radius: 22px;
}

#header .content .content-middle h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  margin: 5px 0px;
}

#header .content .content-middle p {
  margin: 0px;
}

#header .content .content-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-left .logo .inner-nav ul {
  margin: 0px;
  padding: 5px 0px;
  display: inline-block;
  border-left: 1px solid blue;
}

.inner-nav ul li {
  display: inline-block;
  color: white;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.login-register span {
  color: white;
  margin: 0px 10px;
}

#categories .categories-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

#categories .category-item {
  border: 1px solid gray;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
}

#categories .category-item p {
  margin: 0px;
  padding: 0px;
  z-index: 2;
  color: white;
}

#categories .category-item img {
  position: absolute;
  width: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -60px -80px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#categories .category-item img:hover {
  -webkit-filter: brightness(100%) hue-rotate(90deg);
          filter: brightness(100%) hue-rotate(90deg);
}

#categories .categories-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}
/*# sourceMappingURL=style.css.map */