// Margins
// General Margin
.m-x {
    margin: $spacing-x;
}

.m-2x {
    margin: $spacing-2x;
}

.m-3x {
    margin: $spacing-3x;
}

.m-4x {
    margin: $spacing-4x;
}

.mv-x {
    margin: $spacing-x 0px;
}

.mv-2x {
    margin: $spacing-2x 0px;
}

.mv-3x {
    margin: $spacing-3x 0px;
}

.mv-4x {
    margin: $spacing-4x 0px;
}

// Margin top
.mt-x {
    margin-top: $spacing-x;
}

.mt-2x {
    margin-top: $spacing-2x;
}

.mt-3x {
    margin-top: $spacing-3x;
}

.mt-4x {
    margin-top: $spacing-4x;
}

// Paddings
.p-x {
    padding: $spacing-x;
}

.p-2x {
    padding: $spacing-2x;
}

.p-3x {
    padding: $spacing-3x;
}

.p-4x {
    padding: $spacing-4x;
}

// Margin top
.pt-x {
    padding-top: $spacing-x;
}

.pt-2x {
    padding-top: $spacing-2x;
}

.pt-3x {
    padding-top: $spacing-3x;
}

.pt-4x {
    padding-top: $spacing-4x;
}