// General variables
$main-font:'Nunito',
sans-serif;
// Variables for home header section
$header-height:890px;
$margin:10px;
$padding:10px;
$main-color:blue;
// spacing
$spacing-1x:15px;
$spacing-2x:$spacing-1x*2;
$spacing-3x:$spacing-1x*3;
$spacing-4x:$spacing-1x*4;