$spacing:15px;
.box {
    min-height: 300px;
    padding: $spacing;
    box-sizing: border-box;
    // overflow-x: hidden;
    border: 1px solid skyblue;
    img {
        width: calc(100% + $spacing*2);
        height: 200px;
        object-fit: cover;
        margin: -$spacing -$spacing;
    }
    h4 {
        margin: $spacing 0px;
    }
    p {}
}