#ads {
    background: url(../../img/4.jpg) no-repeat center center;
    background-size: cover;
    h5 {
        font-weight: bold;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
}